
#real-alert{
    color: red;
    font-family: fantasy;
    font-size: 130%;
    background-color: black;
    border: 6px solid crimson;
    padding: 7px;
    margin: 7px;
}
#test-only{
    color: cornflowerblue;
    background-color: lavender;
    font-style: italic;
    font-family: sans-serif;
    padding: 7px;
    margin: 7px;
}